// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Clourney dubhe2000 family SoC.
 *
 * Copyright (C) 2022-2024 Clourney Semiconductor - All Rights Reserved.
 *
 */

/dts-v1/;
#include "clourney-dubhe2000.dtsi"

/ {
	model = "Clourney Semiconductor DUBHE2000 DEMO-B Board";
	compatible = "clsemi,dubhe2000-demo-b", "clsemi,dubhe2000";

	aliases {
		serial0 = &duart1;
		spinand = &spiflash;
		pwm0 = &pwm0;
		pwm1 = &pwm1;
		pwm2 = &pwm2;
		pwm3 = &pwm3;
		pwm4 = &pwm4;
		pwm5 = &pwm5;
		led-boot = &led_power;
		led-failsafe = &led_power;
		led-running = &led_power;
		led-upgrade = &led_power;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
	 ytesw@0 {
		compatible = "clourney,yt_switch";
		mdio-bus = <&mdio>;
		port-isolation="ooooooo";
		/* rgmii. txc delay = txc_2ns_en * 2ns + txc_delay * 0.15ns;rxc delay = rxc_delay * 0.15ns */
		rgmii-rxc_delay = <1>;
		rgmii-txc_delay = <2>;
		rgmii-txc_2ns_en = <1>;
		reset-gpio = <&gpio0 4 GPIO_ACTIVE_LOW>;
	};
};

&duart1 {
	status = "ok";
};

&i2c1 {
        label = "I2C1";
        status = "okay";
};

&spiflash {
	rx-sample-delay-ns = <8>;
	status = "ok";

	nand_flash: flash@0 {
		compatible = "spi-nand";
		/* Avoid interference with 5G and 2.4G, not setting clk to  41.67MHz  */
		spi-max-frequency = <31250000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		/*0.5MB*/
		partition@0 {
			label = "sbl";
			reg = <0x0 0x80000>;
		};

		/*0.5MB*/
		partition@1 {
			label = "atf";
			reg = <0x80000 0x80000>;
		};

		/*1MB*/
		partition@2 {
			label = "platformdata";
			reg = <0x100000 0x100000>;
		};

		/*2MB*/
		partition@3 {
			label = "uboot";
			reg = <0x200000 0x200000>;
		};

		/*1MB*/
		partition@4 {
			label = "caldata";
			reg = <0x400000 0x100000>;
		};

		/*1MB*/
		partition@5 {
			label = "caldata2";
			reg = <0x500000 0x100000>;
		};

		/*1.5MB*/
                partition@6 {
                        label = "ubootenv";
                        reg = <0x600000 0x180000>;
                };

		/*1.5MB*/
                partition@7 {
                        label = "boarddata";
                        reg = <0x780000 0x180000>;
                };

		/*32MB*/
                partition@8 {
                        label = "fw1";
                        reg = <0x900000 0x2000000>;
                };

		/*32MB*/
                partition@9 {
                        label = "fw2";
                        reg = <0x2900000 0x2000000>;
                };

		/*55MB*/
                partition@10 {
                        label = "reserved";
                        reg = <0x4900000 0x3700000>;
                };
	};
};

&npe  {
	status = "ok";
	switch-pause = <4>;
	mdio: mdio {
		compatible = "clourney,mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		device_type = "mdio";
		id = <0>;
		clk_csr = <1>;
		status = "okay";
		regs,phys_reset_init = <0x90410054 0xFFFF 0x6008>;
		sgmii_phy: ethernet-phy@6 {
                        compatible = "ethernet-phy-ieee802.3-c22";
                        reg = <0x6>;
                };
	};
};
&xpcs0 {
	phy-mode = "sgmii";
	status = "okay";
};

&xpcs1 {
	phy-mode = "2500base-x";
	status = "okay";
};

&xgmac0 {
	mode = "non-rgmii";
	max-speed = <2500>;
	clk-csr = <1>;
	status = "okay";
	phy-handle = <&sgmii_phy>;
};

&xgmac1 {
	mode = "non-rgmii";
	mac-address = [a0 c0 ab 39 cc f3];
	max-speed = <2500>;
	status = "okay";
	fixed-link {
		speed = <2500>;
		full-duplex;
		pause;
	};
};

&xgmac2 {
        status = "disabled";
};

&xgmac3 {
        status = "disabled";
};

&xgmac4 {
        status = "disabled";
};

&wifi0 { status = "ok"; };

&wifi1 { status = "ok"; };

&wifiarm { status = "disabled"; };

&wifiarc { status = "ok"; };

&crgwdt {
        timeout-sec = <WDT_TIMEOUT_S>;
        status = "ok";
};

&gpio0 { status = "ok"; };

&gpio1 { status = "ok"; };

&gpio_keys {
        reset {
                label = "reset";
                gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; /* gpio1->32, 32 + 11 = 43(actual gpio number) */
                linux,code = <KEY_RESTART>;
        };
        wps {
                label = "wps";
                gpios = <&gpio1 12 GPIO_ACTIVE_LOW>; /* gpio1->32, 32 + 12 = 44(actual gpio number) */
                linux,code = <KEY_WPS_BUTTON>;
        };

};

&gpio_leds {
        status = "ok";

	led_power: power {
                label = "green:power";
                gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
                default-status = "on";
        };
	led_wifi_red: wifi_red {
                label = "red:wifi";
                gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
                default-status = "on";
        };
	led_wifi_green: wifi_green {
                label = "green:wifi";
                gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
                default-status = "on";
        };
	led_mesh_red: mesh_red {
                label = "red:mesh";
               	gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
                default-status = "on";
        };
	led_mesh_green: mesh_green {
                label = "green:mesh";
                gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
                default-status = "on";
        };
	led_internet: internet {
                label = "green:internet";
                gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
                default-status = "on";
        };
	led_wan: wan {
                label = "green:wan";
                gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
                default-status = "on";
        };
	led_lan1: lan1 {
              label = "green:lan1";
               gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
                default-status = "on";
        };
	led_lan2: lan2 {
                label = "green:lan2";
                gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
                default-status = "on";
        };
	led_lan3: lan3 {
                label = "green:lan3";
                gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
                default-status = "on";
        };
};

&usbdrd3 { status = "ok";};

&usb {status = "ok"; };

&pwm0 { status = "ok"; };

&pvt_sensor {
	status = "ok";
        // T2
        temp_rise_alarm2_L = "102000";
        temp_rise_alarm2_H = "110000";
        temp_fall_alarm2_H = "110000";
        temp_fall_alarm2_L = "102000";
        // T0
        temp_rise_alarm0_L = "110000";
        temp_rise_alarm0_H = "118000";
        temp_fall_alarm0_H = "118000";
        temp_fall_alarm0_L = "110000";
        // T1
        temp_rise_alarm1_L = "118000";
        temp_rise_alarm1_H = "126000";
        temp_fall_alarm1_H = "126000";
        temp_fall_alarm1_L = "118000";
};

&cls_tsens {
        status = "ok";
        // T2
        temp_rise_alarm2_L = "102000";
        temp_rise_alarm2_H = "110000";
        temp_fall_alarm2_H = "110000";
        temp_fall_alarm2_L = "102000";
        // T0
        temp_rise_alarm0_L = "110000";
        temp_rise_alarm0_H = "118000";
        temp_fall_alarm0_H = "118000";
        temp_fall_alarm0_L = "110000";
        // T1
        temp_rise_alarm1_L = "118000";
        temp_rise_alarm1_H = "126000";
        temp_fall_alarm1_H = "126000";
        temp_fall_alarm1_L = "118000";
};

&clspcierc {
	perst-gpio = <&gpio0 10 1>;
	status = "ok";
};
