// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Clourney dubhe2000 family SoC.
 *
 * Copyright (C) 2022-2024 Clourney Semiconductor - All Rights Reserved.
 *
 */

/dts-v1/;
#include "clourney-dubhe2000.dtsi"

/ {
	model = "Clourney Semiconductor DUBHE2000 RDK-S Board";
	compatible = "clsemi,dubhe2000-rdk-s", "clsemi,dubhe2000";

	aliases {
		serial0 = &duart1;
		spidev0 = &spi0;
                spidev1 = &spi1;
		spidev2 = &spi2;
		spinand = &spiflash;
		pwm0 = &pwm0;
		pwm1 = &pwm1;
		pwm2 = &pwm2;
		pwm3 = &pwm3;
		pwm4 = &pwm4;
		pwm5 = &pwm5;
		led-boot = &led_status_red;
		led-failsafe = &led_status_red;
		led-running = &led_status_red;
		led-upgrade = &led_status_red;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	macros {
	    #define MMC_CARD_USED   1
	 };

	sfp_eth0: sfp-eth0 {
	  compatible = "sff,sfp";
	  i2c-bus = <&i2c1>;
	  tx-fault-gpio  = <&gpio0 30 GPIO_ACTIVE_HIGH>;
	  tx-disable-gpio = <&gpio0 31 GPIO_ACTIVE_HIGH>;
	  mod-def0-gpio = <&gpio1 0 GPIO_ACTIVE_LOW>;
	  rate-select0-gpio = <&gpio1 1 GPIO_ACTIVE_LOW>;
	  los-gpio = <&gpio1 2 GPIO_ACTIVE_HIGH>;
	  maximum-power-milliwatt = <3000>;
	  status = "ok";
	};
};

&duart1 {
	status = "ok";
};

&spi0 {
	status = "disabled";
	spidev@0 {
		spi-max-frequency = <5000000>;
		reg = <0>;
		compatible = "linux,spidev";
	};
};

&spi1 {
	status = "disabled";
	spidev@0 {
		spi-max-frequency = <5000000>;
		reg = <0>;
		compatible = "linux,spidev";
	};
};

&spi2 {
	status = "disabled";
	spidev@0 {
		spi-max-frequency = <5000000>;
		reg = <0>;
		compatible = "linux,spidev";
	};
};

&i2c0 {
        label = "I2C0";
        status = "disabled";
};

&i2c1 {
	label = "I2C1";
	status = "okay";
};

&i2c2 {
        label = "I2C2";
        status = "disabled";
};

&spiflash {
	rx-sample-delay-ns = <8>;
	status = "ok";

	nand_flash: flash@0 {
		compatible = "spi-nand";
		 /* Avoid interference with 5G and 2.4G, not setting clk to  41.67MHz  */
		spi-max-frequency = <31250000>;
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		/*0.5MB*/
		partition@0 {
			label = "sbl";
			reg = <0x0 0x80000>;
		};

		/*0.5MB*/
		partition@1 {
			label = "atf";
			reg = <0x80000 0x80000>;
		};

		/*1MB*/
		partition@2 {
			label = "platformdata";
			reg = <0x100000 0x100000>;
		};

		/*2MB*/
		partition@3 {
			label = "uboot";
			reg = <0x200000 0x200000>;
		};

		/*1MB*/
		partition@4 {
			label = "caldata";
			reg = <0x400000 0x100000>;
		};

		/*1MB*/
		partition@5 {
			label = "caldata2";
			reg = <0x500000 0x100000>;
		};

		/*1.5MB*/
                partition@6 {
                        label = "ubootenv";
                        reg = <0x600000 0x180000>;
                };

		/*1.5MB*/
                partition@7 {
                        label = "boarddata";
                        reg = <0x780000 0x180000>;
                };

		/*32MB*/
                partition@8 {
                        label = "fw1";
                        reg = <0x900000 0x2000000>;
                };

		/*32MB*/
                partition@9 {
                        label = "fw2";
                        reg = <0x2900000 0x2000000>;
                };

		/*55MB*/
                partition@10 {
                        label = "reserved";
                        reg = <0x4900000 0x3700000>;
                };
	};
};

&npe  {
	status = "ok";
	switch-pause = <4>;
};

&xpcs0 {
	phy-mode= "usxgmii";
	usxg_mode = <0>;
        status = "okay";
};

&xpcs1 {
        phy-mode = "sgmii";
        status = "okay";
};

&xgmac0 {
        mode = "non-rgmii";
	max-speed = <10000>;
        mac-address = [a0 c0 ab 39 cc f0];
	sfp=<&sfp_eth0>;
	managed = "in-band-status";
        mdio-flags = <1>;
        clk_csr = <1>;
        status = "okay";
        mdio {
        compatible = "clourney,mdio";
        #address-cells = <1>;
        #size-cells = <0>;
        device_type = "mdio";
        status = "okay";
        sgmii1_phy: ethernet-phy@6 {
                compatible = "ethernet-phy-ieee802.3-c22";
                reg = <0x6>;
        };
  };
};

&xgmac4 {
    status = "disabled";
};

&xgmac1 {
        mode = "non-rgmii";
        max-speed = <2500>;
        phy-handle = <&sgmii1_phy>;
        mdio-flags = <1>;
        status = "okay";
};

&xgmac2 {
        status = "disabled";
};

&xgmac3 {
        status = "disabled";
};

&wifi0 { status = "ok"; };

&wifi1 { status = "ok"; };

&wifiarm { status = "disabled"; };

&wifiarc { status = "ok"; };

&crgwdt {
        timeout-sec = <WDT_TIMEOUT_S>;
        status = "ok";
};

&watchdog0 {
	timeout-sec = <WDT_TIMEOUT_S>;
	status = "ok";
};

&gpio0 { status = "ok"; };

&gpio1 { status = "ok"; };

&gpio_keys {
	reset {
		label = "reset";
		gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; /* gpio1->32, 32 + 11 = 43(actual gpio number) */
		linux,code = <KEY_RESTART>;
	};
};

&gpio_leds {
	status = "ok";

	led_status_red: red {
		label = "red:status";
		gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>; /* gpio0->0, 0 + 17 = 17 (actual gpio number) */
		default-status = "on";
	};

	led_status_green: green {
		label = "green:status";
		gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>; /* gpio0->0, 0 + 18 = 18(actual gpio number) */
		default-status = "on";
	};

	led_status_blue: blue {
		label = "blue:status";
		gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>; /* gpio0->0, 0 + 19 = 19(actual gpio number) */
		default-status = "on";
	};
};

&usbdrd3 { status = "ok";};

&usb {status = "ok"; };

&pwm0 { status = "ok"; };

&pwm1 { status = "ok"; };

&pwm2 { status = "ok"; };

&pwm3 { status = "ok"; };

&pwm4 { status = "ok"; };

&pwm5 { status = "ok"; };

&pvt_sensor {
	status = "ok";
        // T2
        temp_rise_alarm2_L = "102000";
        temp_rise_alarm2_H = "110000";
        temp_fall_alarm2_H = "110000";
        temp_fall_alarm2_L = "102000";
        // T0
        temp_rise_alarm0_L = "110000";
        temp_rise_alarm0_H = "118000";
        temp_fall_alarm0_H = "118000";
        temp_fall_alarm0_L = "110000";
        // T1
        temp_rise_alarm1_L = "118000";
        temp_rise_alarm1_H = "126000";
        temp_fall_alarm1_H = "126000";
        temp_fall_alarm1_L = "118000";
};

&cls_tsens {
	status = "ok";
        // T2
        temp_rise_alarm2_L = "102000";
        temp_rise_alarm2_H = "110000";
        temp_fall_alarm2_H = "110000";
        temp_fall_alarm2_L = "102000";
        // T0
        temp_rise_alarm0_L = "110000";
        temp_rise_alarm0_H = "118000";
        temp_fall_alarm0_H = "118000";
        temp_fall_alarm0_L = "110000";
        // T1
        temp_rise_alarm1_L = "118000";
        temp_rise_alarm1_H = "126000";
        temp_fall_alarm1_H = "126000";
        temp_fall_alarm1_L = "118000";
};

&clspcierc {
	perst-gpio = <&gpio0 10 1>;
	status = "ok";
};
