# Copyright (c) 2021-2024, Clourney Semiconductor. All rights reserved.
#
# This software and/or documentation is licensed by Clourney Semiconductor under limited terms and conditions.
# Reproduction and redistribution in binary or source form, with or without modification,
# for use solely in conjunction with a Clourney Semiconductor chipset, is permitted in condition which
# must retain the above copyright notice.
#
# By using this software and/or documentation, you agree to the limited terms and conditions.

config wtp config
	option enable '1'
	option enable_auth '0'
	option wtp_name 'clsemi WTP'
	option wtp_location 'location'
	option echo_interval '30'
	option echo_retransmit_max '10'
	option debug '1'

config wtp preferac
	option ac_addresses '127.0.0.1'
	option wtp_control_port '12225'
	option wtp_data_port '12226'
	option wtp_security 'PRESHARED'
	option wtp_security_password '12345678'
