.cbi-section p {
    padding: 0px;
    padding-left: 15px;
}

span {
    position: none;
    margin-top: 5px;
    padding-left: 5px;
    font-size: .785rem;
    margin-bottom: 15px;
}

[data-page="admin-system-reboot"] p>span {
    left: 0;
}

.cbi-section > .version-info {
    padding-bottom: 15px;
}


button {
    margin-left: 20px;
    margin-bottom: 15px;
    width: 150px;
    background: #5e72e4;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
