# Copyright (c) 2021-2025, Clourney Semiconductor. All rights reserved.
#
# This software and/or documentation is licensed by Clourney Semiconductor under limited terms and conditions.
# Reproduction and redistribution in binary or source form, with or without modification,
# for use solely in conjunction with a Clourney Semiconductor chipset, is permitted in condition which
# must retain the above copyright notice.
#
# By using this software and/or documentation, you agree to the limited terms and conditions.

config clsnetmanager config
	option enable '1'
	option onboarding_done '0'

config clsnetmanager arp_gw
	option interval '10'
	option timeout '3'
	option retry_count '3'

config clsnetmanager netconn_check
	option interval '2'
	option retry_count '3'

config clsnetmanager backhaul
	option backhaul 'Unconfigured'

