#***********************************************************
#
# Makefile
#
#***********************************************************
ifeq (env.h, $(wildcard env.h))
include env.h
endif
include $(MAKE_PATH)/env/make.env
include $(MAKE_PATH)/make.path
include $(MAKE_PATH)/make.rule
include $(MAKE_PATH)/make.cfg

ifeq ($(VTY_CMD_LINE), YES)
TARGET_SDK = sdk
else
ifeq ($(OS_FreeRTOS), YES)
TARGET_SDK = libsdk.a
else
CFLAGS += -fpic
TARGET_SDK = libsdk.so
endif
endif

CFLAGS += ${SDK_INCLUDES}

.c.o:
	echo $(CC) $(CFLAGS) -c $< -o $@
	$(CC) $(CFLAGS) $(SDK_COMPILATION_SWITCHES) -c $< -o $@

all: $(TARGET_SDK)

sdk:$(SDK_SOURCE_OBJECTS)
	@echo $@
	echo $(CC) $(CFLAGS) -o $@ $^ ${CLI_LIB}
	$(CC) $(CFLAGS) -o $@ $^ ${CLI_LIB}
	$(STRIP) $@
	cp $@ ../release/
	$(OBJSIZE) -d $@

libsdk.a:$(SDK_SOURCE_OBJECTS)
	@echo $@
	echo $(AR) -rcs $@ $^ 
	$(AR) -rcs $@ $^		

libsdk.so:$(SDK_SOURCE_OBJECTS)
	@echo $@
	$(CC) $(CFLAGS) $(SOFLAGS) -o $@ $^
	$(STRIP) $@
	$(OBJSIZE) -d $@

clean:
	-rm -f $(CORE_CAL_PATH)/*.o
	-rm -f $(CORE_FAL_PATH)/*.o
	-rm -f $(CORE_HAL_PATH)/*.o
	-rm -f $(CORE_FAL_PROJECT_PATH)/*.o
	-rm -f $(CORE_API_PATH)/*.o
	-rm -f $(CORE_SW_CTRL_PATH)/*.o
	-rm -f $(CORE_SW_CTRL_PATH)/ctrlif/*.o
	-rm -f $(CORE_SW_CTRL_PATH)/uart/*.o
	-rm -f $(CORE_SW_CTRL_PATH)/mem/*.o
	-rm -f $(CORE_CHIP_DEF_PATH)/*.o
	-rm -f $(CORE_MAC_DRV_PATH)/*.o
	-rm -f $(CORE_PHY_DRV_PATH)/*.o
	-rm -f $(COMMON_PATH)/*.o
	-rm -f $(COMMON_PATH_SRC)/*.o
	-rm -f $(OSAL_PATH)/*.o
	-rm -f $(TARGET_SDK)
