CONFIG_ARM=y
CONFIG_TARGET_DUBHE2000_RDK_C=y
CONFIG_SYS_TEXT_BASE=0x00080000
CONFIG_SYS_MALLOC_LEN=0x120000
CONFIG_NR_DRAM_BANKS=1
CONFIG_CMD_UBI=y
CONFIG_CMD_UBI_RENAME=y
CONFIG_CMD_UBIFS=y
CONFIG_ENV_SIZE=0x1f000
CONFIG_ENV_IS_IN_UBI=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_ENV_UBI_PART="ubootenv"
CONFIG_ENV_UBI_VOLUME="ubootenv"
CONFIG_ENV_UBI_VOLUME_REDUND="ubootenv2"
CONFIG_ENV_UBI_VOLUME_CREATE=y
CONFIG_ENV_UBI_VID_OFFSET=0
CONFIG_SYSINFO_SUPPORT=y
CONFIG_SYSINFO_IS_IN_UBI=y
CONFIG_SYSINFO_UBI_PART="boarddata"
CONFIG_SYSINFO_UBI_VOLUME="boarddata"
CONFIG_SYSINFO_UBI_VOLUME_REDUND="boarddata2"
CONFIG_SYSINFO_UBI_VOLUME_CREATE=y
CONFIG_SYSINFO_UBI_VID_OFFSET=0
# CONFIG_SYSINFO_IS_IN_MTD is not set
CONFIG_SYSINFO_SIZE=0x1f000
CONFIG_CMD_SAVESYSINFO=y
CONFIG_SYS_LOAD_ADDR=0x00200000
CONFIG_DEFAULT_DEVICE_TREE="clourneysemi-dubhe2000-rdk-c"
CONFIG_COUNTER_FREQUENCY=40000000
CONFIG_BOOTDELAY=3
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DM=y
CONFIG_DM_SERIAL=y
# CONFIG_PL01X_SERIAL is not set
CONFIG_SYS_NS16550=y
CONFIG_BAUDRATE=115200
CONFIG_ETH=y
CONFIG_DM_ETH=y
CONFIG_NETDEVICES=y
CONFIG_RGMII=y
CONFIG_MII=y
CONFIG_PHYLIB=y
CONFIG_PROT_UDP=y
CONFIG_CMD_MDIO=y
CONFIG_CMD_LOG=y
CONFIG_PHY_MARVELL=y
CONFIG_PHY_REALTEK=y
CONFIG_PHY_FIXED=y
CONFIG_CLOURNEY_ETH=y
CONFIG_CLS_PHYLINK=y
CONFIG_CLOURNEY_ETH_DBG=y
CONFIG_CLS_NPE=y
CONFIG_CMD_PING=y

# CONFIG_MMC is not set
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="ubi.mtd=fw1 rootfstype=squashfs rootwait ro"
CONFIG_FIT=y
CONFIG_GZIP=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_CACHE_FLUSH=y
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_CLS_BIMID=y
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_ALT_MEMTEST=y
CONFIG_CLOURNEY_SEMI=y
CONFIG_BRD_BOOT_FLASH_VARIANT=2
CONFIG_BRD_PLAT_RUN_CLK_VARIANT=3
CONFIG_CMD_MTD=y
# CONFIG_CMD_NAND is not set
CONFIG_MTD=y
CONFIG_MTD_RAW_NAND=y
CONFIG_MTD_SPI_NAND=y
CONFIG_CMD_MTDPARTS=y
CONFIG_NAND_DUBHE1000=y
CONFIG_SYS_NAND_ONFI_DETECTION=y
CONFIG_MTD_UBI=y
CONFIG_MTD_UBI_WL_THRESHOLD=4096
CONFIG_MTD_UBI_BEB_LIMIT=2
CONFIG_MTDIDS_DEFAULT="spi-nand0=spi-nand0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-nand0:512k(sbl),512k(atf),1024k(platformdata),2048k(uboot),1024k(caldata),1024k(caldata2),1536k(ubootenv),1536k(boarddata),32M(fw1),32M(fw2),55M(reserved)"
CONFIG_CMD_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_CLS_SPI_FLASH=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_DESIGNWARE_SPI=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_HW_WATCHDOG=y
CONFIG_CLS_WATCHDOG=y
CONFIG_HUSH_PARSER=y
CONFIG_BOOTARGS_SUBST=y
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="./cls-default-env.txt"
