CONFIG_ARM=y
CONFIG_TARGET_DUBHE2000_EVB_N=y
CONFIG_SYS_TEXT_BASE=0x00080000
CONFIG_SYS_MALLOC_LEN=0x120000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_ENV_OFFSET=0x380000
CONFIG_ENV_OFFSET_REDUND=0x3A0000
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_SECT_SIZE=0x1000
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_SYSINFO_SUPPORT=y
CONFIG_SYSINFO_OFFSET=0x3C0000
CONFIG_SYSINFO_OFFSET_REDUND=0x3E0000
CONFIG_SYSINFO_SIZE=0x20000
CONFIG_SYSINFO_SECT_SIZE=0x1000
CONFIG_SYSINFO_IS_IN_SPI_FLASH=y
# CONFIG_SYSINFO_IS_IN_MTD is not set
CONFIG_CMD_SAVESYSINFO=y
CONFIG_SYS_LOAD_ADDR=0x00400000
CONFIG_DEFAULT_DEVICE_TREE="clourneysemi-dubhe2000-evb-n"
CONFIG_COUNTER_FREQUENCY=40000000
CONFIG_BOOTDELAY=3
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DM=y
CONFIG_DM_SERIAL=y
# CONFIG_PL01X_SERIAL is not set
CONFIG_SYS_NS16550=y
CONFIG_BAUDRATE=115200
CONFIG_ETH=y
CONFIG_DM_ETH=y
CONFIG_NETDEVICES=y
CONFIG_RGMII=y
CONFIG_MII=y
CONFIG_PHYLIB=y
CONFIG_PROT_UDP=y
CONFIG_CMD_MDIO=y
CONFIG_CMD_LOG=y
CONFIG_PHY_MARVELL=y
CONFIG_PHY_REALTEK=y
CONFIG_PHY_FIXED=y
CONFIG_CLK=y
CONFIG_CLK_CCF=y
CONFIG_CLOURNEY_ETH=y
CONFIG_CLS_PHYLINK=y
CONFIG_CLOURNEY_ETH_DBG=y
CONFIG_CLS_NPE=y
CONFIG_CLS_RTKSDK=y
CONFIG_CMD_PING=y
CONFIG_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_SDMA=y
CONFIG_MMC_SDHCI_CLS=y
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_FS_LOADER=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_CMD_MMC=y
CONFIG_CMD_SQUASHFS=y
CONFIG_EFI_PARTITION=y
CONFIG_PARTITION_TYPE_GUID=y
CONFIG_CMD_GPT=y
CONFIG_CMD_GPT_RENAME=y
CONFIG_CMD_PART=y
CONFIG_RANDOM_UUID=y
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="ubi.mtd=fw1 rootfstype=squashfs rootwait ro"
CONFIG_FIT=y
CONFIG_GZIP=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_CACHE_FLUSH=y
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_CLS_BIMID=y
CONFIG_CMD_MEMTEST=y
CONFIG_SYS_ALT_MEMTEST=y
CONFIG_CLOURNEY_SEMI=y
CONFIG_BRD_BOOT_FLASH_VARIANT=3
CONFIG_BRD_PLAT_RUN_CLK_VARIANT=3
CONFIG_CMD_MTD=y
# CONFIG_CMD_NAND is not set
CONFIG_MTD=y
# CONFIG_MTD_RAW_NAND is not set
# CONFIG_MTD_SPI_NAND is not set
CONFIG_CMD_MTDPARTS=y
# CONFIG_MTD_NOR_FLASH is not set
CONFIG_MTDIDS_DEFAULT="nor1=nor1"
CONFIG_MTDPARTS_DEFAULT="mtdparts=nor1:256k(sbl),256k(atf),512k(platformdata),1536k(uboot),512k(caldata),512k(caldata2),128k(ubootenv),128k(ubootenv2),128k(boarddata),128k(boarddata2),24M(fw1),4M(reserved)"
CONFIG_CMD_SPI=y
CONFIG_DM_SPI_FLASH=y
CONFIG_CLS_SPI_FLASH=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ZETTA=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_DESIGNWARE_SPI=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_HW_WATCHDOG=y
CONFIG_CLS_WATCHDOG=y
CONFIG_HUSH_PARSER=y
CONFIG_BOOTARGS_SUBST=y
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="./cls-nor-env.txt"
