# Copyright (c) 2021-2024, Clourney Semiconductor. All rights reserved.
#
# This software and/or documentation is licensed by Clourney Semiconductor under limited terms and conditions.
# Reproduction and redistribution in binary or source form, with or without modification,
# for use solely in conjunction with a Clourney Semiconductor chipset, is permitted in condition which
# must retain the above copyright notice.
#
# By using this software and/or documentation, you agree to the limited terms and conditions.

config daemon default
	#option extra_args
	option mode 'agent' #controller,agent,auto,none

#config roaming_policy
	#option rcpi_steer 0
	#option band_steer 1
	#option band_steer_high -60
	#option band_steer_low -75
	#option rcpi_steer_thresh 160
	#option rssi_gain_of_5g 0
	#option rssi_gain_thresh 5
	#option steer_cooldown 120

