
if TARGET_DUBHE2000_RDK_T

config CLOURNEY_SEMI
        bool "ClourneySemi WIFI AP CPUs Variants"

config SYS_BOARD
	default "dubhe2000_rdk_t"

config SYS_VENDOR
	default "clourneysemi"

config SYS_SOC
	default "dubhe2000"

config SYS_CONFIG_NAME
	default "dubhe2000_rdk_t"

config BRD_BOOT_FLASH_VARIANT
	depends on MTD
        int "board boot from flash variant"
        default 2
        help
          This defines board bootup flash variant.
	  BRD_BOOT_FROM_PNAND    1
	  BRD_BOOT_FROM_SPINAND  2
	  BRD_BOOT_FROM_SPINOR   3

config BRD_PLAT_RUN_CLK_VARIANT
	int "board platform running clock variant"
	default 3
	help
	  This defines board platform running clock variant.
	  BRD_PLAT_RUN_EMU_CLK    1
	  BRD_PLAT_RUN_FPGA_CLK   2
	  BRD_PLAT_RUN_SOC_CLK    3

config BOARD_SDRAM_SIZE
        hex
        default 0x20000000

config COUNTER_FREQUENCY
        int "Timer clock frequency"
        default 48000000
        help
          Setup time clock frequency

endif
