CONFIG_TARGET_clsemi=y
CONFIG_TARGET_clsemi_cs8862a=y
CONFIG_TARGET_clsemi_cs8862a_DEVICE_cs8862a-rdk=y
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_ARP=y
CONFIG_BUSYBOX_CONFIG_ARPING=y
CONFIG_BUSYBOX_CONFIG_BASE64=y
CONFIG_BUSYBOX_CONFIG_BASH_IS_ASH=y
# CONFIG_BUSYBOX_CONFIG_BASH_IS_NONE is not set
CONFIG_BUSYBOX_CONFIG_BC=y
CONFIG_BUSYBOX_CONFIG_DEVMEM=y
CONFIG_BUSYBOX_CONFIG_DHCPD_LEASES_FILE=""
CONFIG_BUSYBOX_CONFIG_DIFF=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_BLOCKSIZE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_GET=y
CONFIG_BUSYBOX_CONFIG_FEATURE_TFTP_PUT=y
CONFIG_BUSYBOX_CONFIG_NOHUP=y
CONFIG_BUSYBOX_CONFIG_TFTP=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_BUSYBOX_CONFIG_UDHCPD=y
CONFIG_BUSYBOX_CONFIG_USLEEP=y
CONFIG_BUSYBOX_CONFIG_WATCH=y
CONFIG_CLSGUI_LANG_zh_Hans=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DRIVER_11AX_SUPPORT=y
CONFIG_DRIVER_11N_SUPPORT=y
CONFIG_EXTERNAL_KERNEL_TREE="$(TOPDIR)/feeds/kernel"
CONFIG_EXTRA_IMAGE_NAME="mesh"
CONFIG_EXTRA_VERSION_NUMBER="Mesh"
CONFIG_IMAGEOPT=y
CONFIG_INCLUDE_CONFIG=y
CONFIG_KERNEL_ARM_PMU=y
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_PROFILING=y
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_cal-cmd=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_cls-api=y
CONFIG_PACKAGE_cls-hdr=y
CONFIG_PACKAGE_cls-leds=y
CONFIG_PACKAGE_cls-memdump=y
CONFIG_PACKAGE_cls-memload=y
CONFIG_PACKAGE_cls-mesh=y
CONFIG_PACKAGE_cls-netmanager=y
CONFIG_PACKAGE_cls-opmode=y
CONFIG_PACKAGE_cls-qos=y
CONFIG_PACKAGE_cls-sec=y
CONFIG_PACKAGE_clsgui=y
CONFIG_PACKAGE_clsgui-base=y
CONFIG_PACKAGE_clsgui-mod-network=y
CONFIG_PACKAGE_clsgui-mod-overview=y
CONFIG_PACKAGE_clsgui-mod-system=y
CONFIG_PACKAGE_clsgui-mod-wireless=y
CONFIG_PACKAGE_clsgui-theme-argon=y
CONFIG_PACKAGE_conntrack=y
CONFIG_PACKAGE_controlappc=y
CONFIG_PACKAGE_dhrystone=y
CONFIG_PACKAGE_dns-hijack=y
CONFIG_PACKAGE_esw-cmd=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_igmpproxy=y
CONFIG_PACKAGE_iproute2-bridge=y
CONFIG_PACKAGE_iw-full=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-cls-dpi=y
CONFIG_PACKAGE_kmod-cls-hrst-button-hotplug=y
CONFIG_PACKAGE_kmod-cls-qos=y
CONFIG_PACKAGE_kmod-cls-tsens=y
CONFIG_PACKAGE_kmod-cls-yt-dsa=y
CONFIG_PACKAGE_kmod-dt-overlay=y
CONFIG_PACKAGE_kmod-fixed-phy=y
CONFIG_PACKAGE_kmod-fwt-drv=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-hw-flow-offload=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-cls-plugin=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-npe-drv=y
CONFIG_PACKAGE_kmod-pvt-drv=y
CONFIG_PACKAGE_kmod-pwm-drv=y
CONFIG_PACKAGE_kmod-spi-dev=y
CONFIG_PACKAGE_kmod-wifi-drv=y
CONFIG_PACKAGE_kmod-ytsw-drv=y
CONFIG_PACKAGE_libbsd=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libi2c=y
CONFIG_PACKAGE_libintl-full=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_libkmod=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnetfilter-cthelper=y
CONFIG_PACKAGE_libnetfilter-cttimeout=y
CONFIG_PACKAGE_libnetfilter-queue=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpci=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-cls-mesh-topology=y
CONFIG_PACKAGE_luci-app-cls-qos=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-opmode=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-cls-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-clsgui-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=y
CONFIG_PACKAGE_luci-i18n-opmode-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_macfw=y
CONFIG_PACKAGE_mcproxy=y
CONFIG_PACKAGE_memtester=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_nand-utils=y
CONFIG_PACKAGE_npe-cmd=y
CONFIG_PACKAGE_pciids=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_power-tbl=y
# CONFIG_PACKAGE_procd-ujail is not set
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_serdes-cmd=y
CONFIG_PACKAGE_sigma=y
CONFIG_PACKAGE_smcroute=y
CONFIG_PACKAGE_spidev-test=y
CONFIG_PACKAGE_sysstat=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_uboot-envtools=y
CONFIG_PACKAGE_ucode-mod-nl80211=y
CONFIG_PACKAGE_ucode-mod-rtnl=y
CONFIG_PACKAGE_ucode-mod-uloop=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-restful=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_usb-cmd=y
CONFIG_PACKAGE_wpa-cli=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_zoneinfo-africa=y
CONFIG_PACKAGE_zoneinfo-all=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-atlantic=y
CONFIG_PACKAGE_zoneinfo-australia-nz=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_PACKAGE_zoneinfo-europe=y
CONFIG_PACKAGE_zoneinfo-india=y
CONFIG_PACKAGE_zoneinfo-northamerica=y
CONFIG_PACKAGE_zoneinfo-pacific=y
CONFIG_PACKAGE_zoneinfo-poles=y
CONFIG_PACKAGE_zoneinfo-simple=y
CONFIG_PACKAGE_zoneinfo-southamerica=y
CONFIG_TARGET_ROOTFS_PARTSIZE=64
CONFIG_UBOOT_CHECK_FIT_SIGN-cs8862a-demo-a=y
CONFIG_UBOOT_CHECK_FIT_SIGN-cs8862a-demo-b=y
CONFIG_UBOOT_CHECK_FIT_SIGN-cs8862a-demo-o=y
CONFIG_UBOOT_CHECK_FIT_SIGN-cs8862a-evb-a=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE="r20676-62bcbc7fe9"
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_NUMBER="V6.0.1.58.A"
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO=""
CONFIG_VERSION_SUPPORT_URL=""
CONFIG_WPA_ENABLE_WEP=y
CONFIG_WPA_MBO_SUPPORT=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
