#
# Copyright (C) 2023 Clourney Semiconductor - All Rights Reserved.
# SPDX-License-Identifier: BSD-3-Clause
# https://spdx.org/licenses#
#

config netcwmp 'cwmp'
        option enable   '0'
        option acs_url  'http://10.30.9.132:80/acs'
        option acs_auth '0'
        option cpe_auth '0'
        option cpe_username     'cpe'
        option cpe_password     'cpe'
        option acs_username     'cpe'
        option acs_password     'cpe'
        option ca_file          '/etc/ssl/private/ca.pem'
        option ca_password      '123456'
        option cpe_name         'CS8862A'
        option cpe_pc           'WiFi Access Point'
        option cpe_manufacture  'clourneysemi'
        option pinform_interval '600'
        option pinform_enable   '1'

config netcwmp 'cwmpd'
        option udp_port         '5400'
        option httpd_port       '5400'
        option http_timeout     '5'

config netcwmp 'stun'
        option enable   '0'
        option server_addr      '10.30.9.132'
        option server_port      '3478'
        option username         'stunuser'
        option password         'stunpass'
        option max_keepalive_period     '10'
        option min_keepalive_period     '5'
        option keepalive_retry_count    '5'
